{% extends "base.html" %}
{% load i18n %}
{% block head_title %}{% trans "Create a Quote " %}{% endblock %}

{% load crispy_forms_tags %}
{% block content %}

<div class="flex-center flex-row ">
<h1>View Quote  </h1>
</div>

<br>
<br>


<div class="flex-center flex-row">

</div>

<div class="flex-center ">
  <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
          <strong>{{quote.quote_name}}</strong>
      </h5>
  
      <!--Card content-->
      <div class="card-body px-lg-5">
  
      <h4>Sales person : {{sales_person_name}}</h3>
      <h4>Customer: {{account_name}}</h3>
      <br>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">PRODUCT CODE</th>
            <th scope="col">DESCRIPTION</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">LIST_PRICE</th>
            <th scope="col">DISCOUNT</th>
            <th scope="col">TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>{{product.product_code}}</td>
            <td>{{product.description}}</td>
            <td>{{quote.quantity}}</td>
            <td>{{product.list_price}} Algo</td>
            <td>{{quote.discount}}%</td>
            <td>{{total}} Algo</td>
          </tr>
        </tbody>
      </table>
      <h5>HASH:{{quote.sha256hash}} <h5>
      <p>Inspect in AlgoExplorer: <a href="https://testnet.algoexplorer.io/tx/{{quote.algod_txnid}}" target="_blank">{{quote.algod_txnid}}</a></p>
      <br>
      <button type="button" class="btn btn-dark large" onclick="window.location.href='/quotes/generate_license/{{quote.quote_id}}/'">Generate License</button>
      </div>
  </div>

</div>

{% endblock %}
